<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <title>About</title>

</head>

<body>
    <div class='contents'> 
    {{>header}}
    <h2>
        {{title}}
    </h2>

    <img class="portrait" src="/img/AkeemAfuwape.jpeg" alt="">
    <p>{{name}}</p>


    </div>
    <footer> {{>footer}}  </footer>

</body>




</html>